# Ignore everything in fantasy_data
fantasy_data/**
# Re-include all directories (so folder structure stays)
!fantasy_data/**/

ncaa_data/** */
!ncaa_data/**/
qb_models/processed_qb_data/*
rb_models/processed_rb_data/*
wr_models/processed_wr_data/*
te_models/processed_te_data/*