fantasy_data/**
!fantasy_data/
!fantasy_data/**/
!fantasy_data/**/README*

ncaa_data/**
!ncaa_data/
!ncaa_data/**/
!ncaa_data/**/README*

draft_data/*
!draft_data/README.md

qb_models/processed_qb_data/*
rb_models/processed_rb_data/*
wr_models/processed_wr_data/*
te_models/processed_te_data/*